th {
    background-color: #289ADC;
    color: white;
    padding: 5px 40px;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

td {
    background-color: #eeeeee;
    padding: 25px 40px;
    text-align: center;
}