th {
    background-color: #289ADC;
    color: white;
    padding: 5px 40px;
}

.table__row:nth-child(odd) {
    background-color: #FFFFFF;
}

.table__row:nth-child(even) {
    background-color: #eeeeee;
}

td {
    padding: 25px 40px;
    text-align: center;
}